/* Estilo para Tablet */
@media only screen and (min-width: 788px) and (max-width: 979px) {

} 
/* FINAL ESTILO TABLET */


/* Estilo para Mobile */
@media only screen and (max-width: 787px) {

    .logo-store svg {
        margin-left: 30px;
    }

    .btn-checkout {
        margin-right: 30px;
    }

    .aside-on {
        width: 100%;
    }

    .aside-block {
        margin: 0 auto;
        margin-bottom: 22px;
    }

    .card-item {
        margin: 0 auto;
        margin-bottom: 22px;
    }

    .aside-total {
        width: 100%;
        padding: 0 15px;
        justify-content: space-between;
    }

    .aside-total p {
        margin-left: 0px;  
        margin-right: 0px; 
    }
    
    .aside-total span {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 381px) {
    .aside-block {
        width: 90%;
    }

}