/* General */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
:root {
    --main-color: #FFFF00;
    --secondary-color: #000000;
    --price-background: #373737;
    --background-body: #F9F9F9;
    --background-card: #FFFFFF;
    --item-title: #2C2C2C;
    --background-footer: #EEEEEE;
    --border-color: #BFBFBF;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--background-body);
}

button {
    padding: 0;
    border: none;
    background: none;
}

/* Header */
header {
    width: 100%;
    height: 101px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.logo-store svg {
    margin-left: 67px;
    margin-top: 35px;
}

.btn-checkout {
    width: 90px;
    height: 45px;
    margin-right: 88px;
    margin-top: 29px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.btn-checkout svg {
    margin-left: 15px;
}

.count-item {
    font-size: 18px;
    font-weight: bold;
    margin-left: 15.99px;
    color: var(--main-color);
}

/* Section Card-item's */
.first-section {
    margin-top: 116px;
}

.card-item {
    background: var(--background-card);
    width: 218px;
    height: 285px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    margin-bottom: 31px;
}

.item {
    margin: 18px auto 14px auto;
    height: 138px;
}

.center-img {
    display: flex;
}

.item-title {
    width: 124px;
    height: 38px;
    margin: 0px 4px 8px 14px;
    font-size: 16px;
    line-height: 19px;
    color: var(--item-title);
    display: inline-block;
}

.item-price {
    padding: 4px 7px;
    border-radius: 5px;
    background: var(--price-background);
    color: var(--main-color);
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
}

.item-text {
    max-width: 192px;
    margin: 0px 0px 12px 14px;
    font-size: 10px;
    line-height: 12px;
    color: var(--item-title);
}

.btn-buy {
    background: var(--main-color);
    padding: 8px 0;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
}

.btn-buy svg {
    margin-left: 57px;
    margin-right: 14px;
}

.btn-buy .buy {
    font-weight: 600;
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 18px;
}

.center-price {
    display: flex;
    align-items: center;
}

/* Footer */
footer {
    background-color: var(--background-footer);
    margin-top: 170px;
    width: 100%;
    height: 34px;
    display: flex;
}

footer p {
    font-size: 12px;
    color: var(--secondary-color);
    margin: auto auto;
}

/* Aside */
.aside-on {
    position: absolute;
    right: 0;
    top: 0;
    width: 480px;
    height: 100%;
    background: var(--main-color);
    box-shadow: -5px 0px 6px rgba(0, 0, 0, 0.13);
    z-index: 99;
}

.aside-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside-header h2 {
    width: 180px;
    font-size: 27px;
    font-weight: bold;
    margin-left: 47px;
    margin-top: 36px;
    margin-bottom: 64px;
}

.aside-header svg {
    margin-right: 22px;
    margin-top: 39px;
}

.aside-off {
    display: none;
}

.aside-block {
    width: 379px;
    height: 95px;
    border-radius: 8px;
    background: var(--background-card);
    margin-left: 47px;
    display: flex;
    position: relative;
}

.block2 {
    margin-top: 22px;
}


.aside-block a {
    position: absolute;
    right: -5px;
    top: -5px;
}

.aside-itens {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.aside-itens p {
    width: 100px;
    font-size: 13px;
    line-height: 17px;
    color: var(--item-title);
}

.qtd-itens {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.qtd-itens div {
    width: 1px;
    height: 19px;
    background: var(--border-color);
}

.qtd-itens span {
    font-size: 8px;
    padding: 4px 6px;
}

.qtd-itens button {
    padding: 4px 4px;
}

.aside-total {
    position: absolute;
    bottom: 138px;
    display: flex;
}

.aside-total p,
.aside-total span {
    font-size: 28px;
    font-weight: bold;
    line-height: 15px;
}

.aside-total p {
    margin-left: 47px;  
    margin-right: 200px; 
}

.aside-total span {
    margin-right: 63px;
}

.aside-btn {
    background: var(--secondary-color);
    width: 100%;
    height: 97px;
    color: var(--main-color);
    font-size: 28px;
    line-height: 15px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}